@{
    ViewData["Title"] = "Нүүр хуудас";
}

<div class="text-center">
    <h1 class="display-4">Тавтай морил</h1>
    <p><a href="/Dashboard">Хяналтын самбар</a> руу орж ажилтны мэдээллээ удирдана уу.</p>
</div>
